build
app/app.iml
.idea
.gradle
app/build
app/.idea
app/local.properties
app/gradlew.bat
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
expandable/build
recycleview&expandable/.gradle
#built application files
*.apk
*.ap_